[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
wagtail = "*"

[requires]
python_version = "3.7"

[dev-packages]
black = "*"
pylint = "*"

[pipenv]
allow_prereleases = true
